---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Blog preview card</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100vh;
	}

	body {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f4d04e;
	}
</style>
